.gradle
/local.properties
/.idea/libraries
.DS_Store
build
.idea
gradle
*.iml
gradlew.bat
gradlew
com_crashlytics_export_strings.xml
build
crashlytics.properties
*.keystore
*.pwd
*.alias
crashlytics-build.properties
Deployment