.gradle
/local.properties
crashlytics-build.properties
crashlytics.properties
.DS_Store
build
.idea
gradle
*.iml
gradlew.bat
gradlew
Deployment
*.keystore
*.pwd
*.alias
com_crashlytics_export_strings.xml