<!--
  ~ This file is part of LBudget.
  ~ LBudget is free software: you can redistribute it and/or modify
  ~ it under the terms of version 3 of the GNU General Public License as published by
  ~ the Free Software Foundation
  ~ LBudget is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~ You should have received a copy of the GNU General Public License
  ~ along with LBudget. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jorge.lbudget">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:backupAgent=".io.net.LBackupAgent"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_launcher"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme"
        android:configChanges="orientation|screenSize|keyboardHidden">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIfUZv_HqOv6U1My_aBIVhDMYBSwC8I4vGP8pjWA" />

        <activity
            android:name=".ui.activities.InitialActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainActivity" />
        <activity
            android:name=".ui.activities.SettingsPreferenceActivity"
            android:logo="@drawable/ic_action_settings"
            android:theme="@style/SettingsTheme"
            android:label="@string/action_settings" />
    </application>

</manifest>
